
// --------------------------------------------------------
// 1) FONTS
// --------------------------------------------------------
$font-display: 'Press Start 2P', monospace;
$font-body: 'VT323', monospace;
$font-sci: 'Orbitron', sans-serif;